.mt_1 {
    margin-top: 3.53rem;
}

.h01 {
    margin-bottom: 1rem;
    opacity: .5;
}

.featurette-heading {
    font-size: 50px;
    letter-spacing: 1;
}

.img_box {
    height: 500px;
    width: 475px;
}